*{
  margin: 0;
  padding: 0;
  background-color: blueviolet;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html , body{
  height:100%;
  width:100%;
  

}
button{
  padding: 10px 50px;
  margin: 10px;
}
h1{
  padding:10px 80px;
  margin: 10;
  background-color: rgb(242, 98, 2);
  width: fit-content;
  font-size: 100px;
  border-radius: 5px;
}
